header{
    background-color: #333333;
    padding: 16px 32px;
}
.header-logo-link{
    text-decoration: none;
}
.header-logo{
    user-select: none;
    font-size: 2rem;
    font-family: 'kelly slab';
    margin: 0;
    color: #fff;
    
  }
  .navbar{
    /* padding: 1em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .header-options-container{
    display: flex;
    font-family: 'Inter';
    /* gap: 10px; */
  }
  .header-option{
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    user-select: none;
    text-decoration: none;
  }
  .header-option:hover{
    background-color: #fff;
    color: #000;
  }
  .header-option:last-child{
    color: #000;
    background-color: #fff;
    margin-left: 2em;
  }
  .header-option:last-child:hover{
    background-color: #000;
    color: #fff;
  }
  .header-option-logout{
    padding: 10px;
    border-radius: 5px;
    user-select: none;
    text-decoration: none;
    background-color: red;
    color: #fff;
  }
  .header-option-logout:hover{
    background-color: #fff;
    color: #000;
  }