@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&display=swap');


*{
    margin: 0;
    padding: 0;
}
.grid-contenedores{
    display: grid;
    grid-template-columns: 17em 17em 17em;
    /*grid-template-rows:1fr 1fr 0.4fr;*/
    gap: 100px;
    row-gap: 30px;
}

.propiedad-card{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    height: 17em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}
.propiedad-card:hover{
    transform: translateY(-5px);
}

.text-h1{
    font-family: "Inter", sans-serif;
    margin-bottom: 50px;
}

.propiedad-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.property-detalles{
    padding: 0px 10px ;
}

.propiedad-nombre{
    margin-bottom: 40px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.propiedad-precio{
    color: #256F50;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
.boton-habilitar{
    grid-column: 2;
    grid-row: 3;
    padding: 10px;
    place-items: center; 
    justify-self: center;
    align-self: center;
}
.boton-habilitar .btn{
    padding: 10px;
    width: 300px;
    background-color: #2059E9;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-family:  "Inter", sans-serif;
    font-size: 16px;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: translateY(-5px);
}
.InmueblesInabi{
    background-color: #fff;
    padding: 30px 50px;
    margin: 40px 0;
    border-radius: 10px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}